.hero{
    padding-top: 257px;
    padding-bottom: 237px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
z-index: 1;
}
.hero h2{
    font-family: var(--font-family);
font-weight: 700;
font-size: 28px;
line-height: 143%;
letter-spacing: 0.15em;
text-transform: uppercase;
text-align: center;
color: #fff;
width: 668px;
margin: 0 auto 32px;
}
.hero button{
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 143%;
letter-spacing: 0.15em;
text-transform: uppercase;
text-align: center;
color: #1d1d1d;
border-radius: 2px;
fill: #fff;
margin: 0 auto;
display: block;
clip-path: polygon(13% 0, 87% 0, 100% 47%, 88% 100%, 15% 100%, 0 51%);
width: 253px;
height: 44px;
border: none;
cursor: pointer;
}
@media (max-width:750px) {
    .hero h2{
     width:unset;
        font-size: 25px;
    }
}
@media (max-width:690px) {
    .hero h2{
     
        font-size: 20px;
    }
}